@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import "./search.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #444;
  font-family: Lobster;
}

body {
  background: #fcfcfc;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 3rem;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  box-shadow: 0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.2);;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
}
