@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import "./search.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #444;
}
.weather {
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
}

body {
  background: #fff;
}

.title {
  font-size: 7vw;
}

.content {
  position: absolute;
  margin-top: 11%;
  font-size: 3vw;
}

.wrapper {
  background-color: #f6f8fa;
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
