<!-- <div class="weather">
  <div style="margin: auto; text-align: center;">
    <h1>Weather Predictor</h1>
    <h3><span>Location:</span>&nbsp;&nbsp;<span>{{data.name}}</span></h3>
    <h3><span>weather:</span>&nbsp;&nbsp;<span>{{data.weather.[0].description}}</span></h3>
  </div>
</div> -->

<div class="wrapper">
  <h2 class="title" style="margin-top: -6%;">Weather Predictor</h2>
  <div class="content">
    <h3><span>Location:</span>&nbsp;&nbsp;<span>{{data.name}}</span></h3>
    <h3><span>weather:</span>&nbsp;&nbsp;<span>{{data.weather.[0].description}}</span></h3>
  </div>
</div>
