<div>
  <div style="border: 1px solid blue; margin: auto; width: 50%; text-align: center;">
    <h3>Weather Predictor</h3>
    <p><span>Location:</span><span>{{data.name}}</span></p>
    <p><span>weather:</span><span>{{data.weather.[0].description}}</span></p>
  </div>
</div>
